@import url("https://hello.myfonts.net/count/3cebad");
@import 'reset-css/reset.css';

@font-face {
  font-family: 'Aestetico-Light';
  src: url('../webfonts/aestetico_light.woff2') format('woff2'), url('../webfonts/aestetico_light.woff') format('woff');
}

@font-face {
  font-family: 'Aestetico-Bold';
  src: url('../webfonts/aestetico_bold.woff2') format('woff2'), url('../webfonts/aestetico_bold.woff') format('woff');
}

@import './assets.scss';

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

::selection {
  background: var(--c-text);
  color: var(--c-bg);
  text-shadow: none;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

html {
  @include fontRunText;

  font-size: 1vw;
}

body {
  font-size: var(--s-text);
  line-height: var(--s-line-height);
  color: var(--c-text);
  background-color: var(--c-bg);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include fontTitle();
}

b,
strong {
  @include fontTitle();
}

a {
  color: var(--c-text);
  text-decoration: underline;
  transition: opacity 0.25s ease-out;

  &:hover {
    opacity: 0.5;
  }
}

li {
  position: relative;
  padding-left: 1em;

  &::before {
    content: "";
    position: absolute;
    width: 0.2em;
    height: 0.2em;
    background-color: var(--c-text);
    left: 0;
    top: 0.6em;
    border-radius: 50%;
  }
}

.logo {
  position: fixed;
  z-index: 20;
  top: var(--s-gutter);
  left: var(--s-gutter);
  margin-top: -0.5em;

  .home & {
    pointer-events: none;
  }

  &__link {
    text-decoration: none;
  }

  &__name {
    @include fontTitle;

    font-size: var(--s-text-logo);
    display: inline-block;
  }

  &__subline {
    font-size: var(--s-text-s);
    display: inline-block;
    width: 10em;
    padding-left: 1em;
  }
}

.navigation {
  position: fixed;
  z-index: 20;
  top: var(--s-margin-top-content);
  left: var(--s-gutter);

  &__link {
    @include fontTitle;

    display: block;
    font-weight: bold;
    text-decoration: none;
  }

  &__el {
    position: relative;

    &::before {
      --s-bullet: 0.35em;

      content: "";
      position: absolute;
      width: var(--s-bullet);
      height: var(--s-bullet);
      top: 0.45em;
      left: -1.05em;
      background-color: var(--c-text);
      border-radius: 50%;
      transform: scale(0);
      transition: transform ease-in-out 0.25s;
    }

    .is-current & {
      &::before {
        transform: scale(1);
      }
    }
  }
}

.contact {
  position: fixed;
  z-index: 20;
  font-size: var(--s-text-s);
  bottom: var(--s-gutter);
  left: var(--s-gutter);
}

.content {
  position: relative;
  width: 50vw;
  left: 50vw;
  padding: var(--s-gutter);
  padding-left: 0;
  padding-top: var(--s-margin-top-content);
  box-sizing: border-box;

  &__container {
    transform: translateY(var(--s-page-transition-y));
    transition: transform var(--e-out) var(--d-page-transition-y);

    .is-displayed & {
      transform: translateY(0);
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: var(--s-margin-top-h);
    margin-bottom: var(--s-margin-bottom-p);

    &.no-margin-top {
      margin-top: 0;
    }
  }

  p {
    margin-bottom: var(--s-margin-bottom-p);
  }

  ul,
  dl {
    margin-bottom: var(--s-margin-bottom-p);
  }

  dl {
    display: flex;
    flex-wrap: wrap;
  }

  dt {
    flex-basis: 60%;
  }

  dd {
    flex-basis: 40%;

    p {
      margin: 0;
    }
  }
}

.portrait {
  --s-t-left: calc(var(--s-gutter) * -1);

  position: fixed;
  z-index: -1;
  height: calc(50vh - var(--s-gutter));
  right: 50%;
  bottom: var(--s-gutter);
  opacity: 0;
  transform: translate(var(--s-t-left), calc(var(--s-page-transition-y) + 100%));
  transition: transform var(--e-out) calc(var(--d-page-transition-y) * 1.2), opacity ease-out 0.2s;

  &.is-loaded {
    opacity: 1;
  }

  &.is-displayed {
    transform: translate(var(--s-t-left), 0);
  }
}

.footer {
  font-size: var(--s-text-s);
  margin-top: calc(var(--s-gutter) * 2);
}

.transition {
  &__bg--in,
  &__bg--out {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--c-bg);
  }
}

.transition-in-enter-active {
  transition: opacity ease-in 0.35s;
}

.transition-in-enter,
.transition-in-leave-to {
  opacity: 0;
}

.transition-out-enter-active {
  opacity: 0;
  transition: opacity ease-out 0.35s;
  transition-delay: 0.2s;
}

.transition-out-leave-active {
  opacity: 0;
}

.transition-out-enter {
  opacity: 1;
}
